body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #e0e0e0, #a9a9a9);
    color: #333;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #dcdcdc, #f8f8f8);
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(to right, #d3d3d3, #999999);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #333;
    border-radius: 0 0 10px 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #333;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #777;
    color: #e0e0e0;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

article {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

article h2 {
    color: #333;
    font-size: 20px;
}

article p {
    color: #666;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: auto;
}

footer a {
    color: lightblue;
    text-decoration: underline;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
}
